@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!@Number</h1>

Welcome to your new app.

@code{
    private int Number = 1;

    protected override void OnInitialized()
    {
        Number = 2;
    }
}